* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #aaaaaa;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    flex-grow: 0.5;
    padding: 5px 10px 5px 10px;
}

li:first-child {
    flex-grow: 50;
}

header {
    margin-top: 15%;
    text-align: center;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #333333;
}

main {
    margin-top: 1%;
}

section {
    padding: 20px;
    text-align: center;
}

.find, .play {
    background: #969696;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.to-register-page {
    width: 100%;
    text-align: center;
}

.to-register-page {
    margin-top: 10%;
}

.to-register-text {
    position: relative;
    bottom: 70px;
    left: 69px;
}

img {
    width: 75px;
}